/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar styling */
.navbar {
    position: sticky;
    top: 0;
    background-color: #560808;
    padding: 10px;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: font-size 0.3s ease;
}



.navbar ul li a:hover {
    font-size: 18px; 
}

.section {
    padding: 60px 20px;
    height: 100vh;
    color: #333;
}


#home {
    text-align: center;
    background-color: #eee2d1;
    height: 100%;
}
#leadership{
    background-color: #625f5a;
}
#leadership p{
    color: #eee2d1;
    font-weight: bold;

}
#pre1989{
    background-color: #eee2d1;
}
#pre1989 p{
    color: #625f5a;
    font-weight: bold;

}
#revolution{
    background-color: #625f5a;
}
#revolution p{
    color: #eee2d1;
    font-weight: bold;


}

#conclusion{
    background-color:#eee2d1;
}
#conclusion p{
    color: #625f5a;
    font-weight: bold;
}


#home h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #560808;

}

#home h2 {
    font-size: 1.5em;
    color: #560808;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.content-wrapper.reverse {
    flex-direction: row-reverse;
}

.text {
    width: 45%;
    padding: 20px;
}

.image {
    width: 45%;
    text-align: center;
    transition: transform 0.3s ease;
}

.image img {
    width: 100%;
    border-radius: 8px;
}

.image:hover {
    transform: scale(1.1); 
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #625f5a;
    color: white;
}

h2{
    text-align: center;
    color: #670808;
    font-size: 25px;

}
p{
    font-size: 16px;
}
